@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16pt;
  color: black;
}

h1 {
  color: #00A7A0;
  font-size: 36pt;
}

h2 {
  color: #91268F;
  font-size: 24pt;
}

h3 {
  color: #8CC63E;
  font-size: 18pt;
}

.datatables {
  font-size: 12pt; 
}

#Population {
  font-size: 14pt;
  color: #91268F;
}

#Households {
  font-size: 14pt;
  color: #91268F;
}

#Jobs {
  font-size: 14pt;
  color: #91268F;
}

#HHSize {
  font-size: 14pt;
  color: #91268F;
}

#MedianAge {
  font-size: 14pt;
  color: #91268F;
}

#MedianIncome {
  font-size: 14pt;
  color: #91268F;
}

#AvgTT {
  font-size: 14pt;
  color: #91268F;
}

#DriveAlone {
  font-size: 14pt;
  color: #91268F;
}


#Transit {
  font-size: 14pt;
  color: #91268F;
}

#ModelBackground {
  font-size: 14pt;
}

#ActivityModelBackground {
  font-size: 14pt;
}

#ModelLink {
  font-size: 14pt;
}
#plot_race {
  padding-top: 5px;
}

.nav-tabs {
  padding-top: 20px;
}
.navbar {
  font-size: 20pt;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
}
